!!!
%html
  %head
    %title IdeaBox
  %body
    %h1 IdeaBox
    = yield

-# <html>
-#   <head>
-#     <title>IdeaBox</title>
-#   </head>
-#   <body>
-#     <h1>IdeaBox</h1>
-#     <%= yield %>
-#   </body>
-# </html>
